@font-face {
    font-family: "ZahraArabic";
    src: url('../font/font_/ZahraArabic-Regular.ttf');
}
body {
  font-family: "ZahraArabic";
  background-color: #eee;
}
.layout_toolbar {
  height: 65px;
  position: fixed;
  top: 0;
  padding-top: 5px;
width: 100%;
text-align: right;
-webkit-box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.75);
box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.75);
}
.sid_nav {
  background-color:#263238;
  width: 20%;
  height: 100%;
  right: 0;
  transform: translateX(80%);
  position: absolute;
  position: fixed;
  transition: .3s;
  direction: rtl;
}
.sid_nav_ {
  transform: translateX(0%);
  transition: .3s;
}
.main_content {
  background-color: #eee;
  width: 93%;
  float: left;
transition: .3s;
display: block;
}
.main_content_{
  width: 80%;
}
.togle_opened , .togle_closed {
box-shadow: 0 0 0 0 rgba(0,0,0,0), 0 0px 0px 0 rgba(0,0,0,0), 0 0px 0px 0px rgba(0,0,0,0);
margin: .5% auto;
float: right;
margin-right: -20px;
border-radius: 10px;
}
.togle_opened:hover , .togle_closed:hover {
  box-shadow: 0 0 0 0 rgba(0,0,0,0), 0 0px 0px 0 rgba(0,0,0,0), 0 0px 0px 0px rgba(0,0,0,0);
}
.togle_opened i , .togle_closed i {
  font-size: 30px;
  color: #fff;
}
.togle_closed {
  display: none;
}
.logo_text {
  font-size: 30px;
text-decoration: none;
color: #fff;

}
.logo_text:hover {
  text-decoration: none;
  color: #eee;
  background-color: #872882;
}
.sid_nav_list {
  list-style: none;
  margin-top: 35%;
  margin-right: -40px;
  padding-left: 30px;
  text-align: left;
}
.sid_nav_list li {
  padding-top: 0px;

}
.sid_nav_list li a {
  color: #fff;
font-size: 20px;
}
.sid_nav_list li a:hover {
  text-decoration: none;
}
.sid_nav_list .active_link{

  background-color: rgba(0, 0, 0, 0.44);

  width: 100%;
}
.li0 {
  padding-right: 35px;
  width: 100%;
}
.li0:hover{
  background-color: rgba(0, 0, 0, 0.5);
}
.active_icon {
  background-color:#fff;
}
.active_icon i {
  color: #872882!important;
}
.sid_nav_list .li0 {
  display: block;
}
.link_ {
  display: none;
  padding-right: 15PX;
  padding: 0px 20px;
  transition: .3s;
  margin-right: 10px;
}

.link_icon {
  padding: 6px 6px 0px 6px;
margin-left: 8px;
border-radius: 100px;
color: gray!important;
}
.link_icon:hover {
  background-color: #fff;
color: #872882!important;
}

.active .link_icon {
  color: #fff!important;

}
.collapsible_ {
  border: 0;
  margin: 0;
  box-shadow: 0 0 0 #000;
  margin-right: -20px;
  transition: .3s;
}
.collapsible-header_ {
  background-color: inherit;
  border: 0;

  text-decoration: none;
   height: 20px!important;
   transform: translateY(-3px);

}
.li {
  padding-right: 20px;
}
.fa-link {
  font-size: 10px;
}
.collapsible-header_ :hover {
  text-decoration: none;
}
.collapsible-header_::before {
  content: "+";
  color: #fff;
  padding-left: 5px;
    font-size: 30px;
}
.collapsible_ .active::before {
  content: "-";
  color: #fff;
  padding-left: 5px;
  font-size: 30px;

}
.fa-circle  {
font-size: 5px;
margin-right: 20px;
}
.active_::before {
  content: ""!important;
}
.collapsible-body_ {
  border: 0;
  padding-top: 0;
}
.collapsible-body_ ul {
  margin-right: -30px;
}
.collapsible-body_ ul i {
  padding-left: 10px;

}
.input-field .prefix {
}
.card_ {
  border-top: 3px solid #872882;
  text-align: right;
}
.card-header {
  border-bottom: 1px solid #BDBDBD;
  padding: 0 2% 0 0;
}
.card_body {
  padding: 2%;
}
.map-responsive .map_ {
  width: 98%!important;
  min-height: 400px;
  margin: 10px auto;
  border: 1px solid #ddd;
}
.statistics_0 , .statistics_1 , .statistics_2 , .statistics_3 {
height: 110px;
border-left: 3px solid #000;
font-size: 30px;
padding:3%;
}
.statistics_0 {
  border-color: #2196f3 ;
}
.statistics_0 .text-lg {
  color: #8bc34a;
  margin-top: 10px;
  font-size: 40px;

}
.statistics_0 .text-xl , .statistics_0 .opacity-50 {
text-align: right;
float: right;
}
.statistics_1 {
  border-color: #ffa000 ;
}
.statistics_1 .text-lg {
  color: #ffa000;
  margin-top: 10px;
  font-size: 40px;

}
.statistics_1 .text-xl , .statistics_1 .opacity-50 {
text-align: right;
float: right;
}
.statistics_2 {
  border-color: #dd2c00 ;
}
.statistics_2 .text-lg {
  color: #dd2c00;
  margin-top: 10px;
  font-size: 40px;

}
.statistics_2 .text-xl , .statistics_2 .opacity-50 {
text-align: right;
float: right;
}
.statistics_3 {
  border-color: #8bc34a ;
}
.statistics_3 .text-lg {
  color: #8bc34a;
  font-size: 40px;

}
 .statistics_3 .opacity-50 {
text-align: right;
float: right;
}
.statistics_3  .text-xl i {
  color: #8bc34a;
  font-size: 40px;
  float: right!important;
}

.opacity-50 {
  font-size: 20px!important;
  color: #90a4ae;
}

input:not([type]), input[type=text], input[type=password], input[type=email],
input[type=url], input[type=time], input[type=date], input[type=datetime],
input[type=datetime-local], input[type=tel], input[type=number],
input[type=search], textarea.materialize-textarea {
  font-size: 20px;

}
.select-wrapper input.select-dropdown ,input {
  font-size: 24px;

}
input , textarea , select , option {
  text-align: right;
}
.select-wrapper span.caret {
  display: none;
}
.dropdown-content li {
  text-align: right;
}
.card_body label {
  position: relative;
  font-size: 20px;
  text-align: right;
}
.input-field p  {
text-align: right;
padding-right: 10px;
font-size: 24px;
}
.btn_submit {
  text-align: right;
  margin-top: 20px;
}
.btn_submit  {
  font-size: 24px;

}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  font-size: 22px;
  font-weight: bold;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  background: linear-gradient(to bottom, #8BC34A 0%, #8BC34A 100%);
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background: linear-gradient(to bottom, #8BC34A 0%, #8BC34A 100%);
border-color: #fff;
}
.dataTables_wrapper .dataTables_info {
  display: none;
}
.dataTables_length {
  display: none;

}
.page_404 {
  text-align: center;
  padding:10% 0;
}
.page_404 h1  {
  font-size: 160px;
}
 .page_404 i {
   font-size: 90px;
   color: #872882;
   font-weight: bolder;
 }
.page_404 p {
  font-size: 30px;
}

.home_ {
  text-align:right;
  float: right;
}

.home_:hover {
  background-color: #872882;
}
.home:hover {
  color: #fff;
}
.home {
font-size: 20px;
  color: #872882;
  padding: 10px 30px;
}
.login {
  padding: 0;
}

.login_ {
  width: 50%;
  margin: 80px auto;
  padding: 2%;
  margin-bottom: 0;
}
.lock {
  width: 500px;
  margin: 50px auto;
  padding: 2%;
  margin-bottom: 0;
}
.pro_pic {
  margin: 0 auto;
  position: absolute;
  right: 30%;
  top: 0%;
}
.login_h4 {
  text-align: center;
  padding-right: 150px;
  margin-top: 60px;
}
.pro_pic img {
  width: 250px;
  height: 170px;

}
.login_ label{
  text-align: right;
  font-size: 22px;
  float: right;
  left:80%!important;
  top : 0%;
}
.lock label {
  text-align: right;
  font-size: 22px;
  float: right;
  top : 0%;
}
.lock .btn-floating {
  padding: 0;
  width: 55px;
}
.inln {
  float: left;
  margin-left: -50px;
}
.login_ button {
  float: right;
}
table {
  text-align: right;
  font-size: 24px;
}
.footer {
  text-align: center;
  font-size: 20px;
}
a , .active{
  text-decoration: none;
}
a:hover , .active:hover{
  text-decoration: none;
}
.card_form {
  width: 60%;
  margin: 10px auto;
}
.personal {
float: left;
color: #872882;
margin-left: 40px;
}
.personal img {
  display: inline-block;
  border-radius: 200px;
  width: 55px;
  height: 55px;
}
.personal {
  display: inline-block;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
}
.personal:hover {
  color: #fff;
}
.personal_ {
  margin: 0;

}
.personal_:hover {
    color: #872882;
}
.personal_  {
  color: #872882;

}

.dropdown-content {
  width: 200px!important;
}
.dropdown-content  {
  font-size: 20px!important;
}
.dataTables_wrapper .dataTables_paginate {
  display: none;
}
table.dataTable.cell-border  {
  direction: rtl;
}
table.dataTable.cell-border th ,table.dataTable.cell-border td {
  text-align: center;

}
.row .col {
    float: right;
    box-sizing: border-box;
    padding: 0 .75rem;
    min-height: 1px;
}
.radio_p {
  color: #999;
  font-size: 18px;
  font-weight: 400;
}

.edit_btn {
  background-color: #fff;
  color: #872882;
  border: 1px solid #ddd;
}
.remov_btn {
  background-color: #fff;
  color: ##872882;
  border: 1px solid #ddd;
}

.scrollbar{
  overflow-y: scroll;
  overflow-x: hidden;
  float:right;


}
#ex3::-webkit-scrollbar{
width:5px;
background-color:rgba(38, 50, 56, 0);
  float:right;
}
#ex3::-webkit-scrollbar-thumb{
background-color:rgba(38, 50, 56, 0);
}
#ex3::-webkit-scrollbar-thumb:hover{
background-color:#999;
border:1px solid rgba(38, 50, 56, 0);
}
#ex3::-webkit-scrollbar-thumb:active{
background-color:#999;
border:1px solid rgba(38, 50, 56, 0);
}
#ex3::-webkit-scrollbar-track{
border:1px rgba(38, 50, 56, 0) solid;
border-radius:10px;
-webkit-box-shadow:0 0 6px rgba(38, 50, 56, 0) inset;
}
.owl-carousel {
  direction:  ltr;
  width: 90%;
  margin: 30px auto;
}
.owl-carousel .item {
  width: 320px;
  height: 220px;
  margin: 0 auto;

}
.owl-carousel .item img {
  width: 310px;
  height: 210px;
  margin: 0 auto;
  -webkit-box-shadow: 9px 11px 5px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 9px 11px 5px -7px rgba(0,0,0,0.75);
  box-shadow: 9px 11px 5px -7px rgba(0,0,0,0.75);
  border: 1px solid #ddd;
}
.owl-theme .owl-controls .owl-buttons div {
  position: absolute;
top: 50%;
background-color: #bbb;
padding: 5px 10px;
}
.owl-theme .owl-controls .owl-buttons div img {
  border-radius: 8px;
}
.owl-theme .owl-controls .owl-buttons .owl-next {
  right: -25px;
}
.owl-theme .owl-controls .owl-buttons .owl-prev{
  left:-25px;
}

.video {
  width: 80%;
  height: 350px;
  margin: 20px auto;
  -webkit-box-shadow: 9px 11px 5px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 9px 11px 5px -7px rgba(0,0,0,0.75);
  box-shadow: 9px 11px 5px -7px rgba(0,0,0,0.75);
  border: 1px solid #ddd;
}
.video .video_content {
  width: 100%;
  height: 350px;
  border: 1px solid #ddd;

}
.ads_text {
  width: 80%;
  min-height: 200px;
  margin: 20px auto;
  border: 1px solid #872882;
  border-radius: 10px;
}
.ads_text p ,.ads_text- p {
  font-size: 24px;
  padding: 30px 50px ;
  text-align: right;
}
.ads_text- {
  width: 100%;
  margin: 20px auto;

}
.col-xs-12- {
  min-height: 470px;
}
.btn:hover, .btn-large:hover {
    background-color: #af35a8;
}


.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1,
.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11,
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  float: right;
}
